body {
	background: black;
}

* {
	min-height: 10px;
	font-family: "Sour Gummy", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	font-weight: normal;
	width: 400px;
	margin: 0%;
	padding-top: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 0%;
}
input {
	border: none;
	border-bottom: 1px gray solid;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(214, 214, 214);
	padding: 0px 10px;
	border: none;
}
